<div class="center">
  <h1>About Bloccit</h1>
    <p>Created by: Rachel Colby</p>
    <p>Welcome to Bloccit! With Bloccit, you can post, vote on, share and save links and comments. We could go on, but we think the best way to get a feel for Bloccit is to try it! So go on, click on a topic and see what's hot on Bloccit today!</p>
</div>