// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron.y {
  background-color: #cdfed9;
  width: 100%;
  border: 3px solid red;
}

.box {
  background-color: #cdfed9;
  box-sizing: border-box;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  border-radius: 5px;
  outline: 3px solid #b8e5ff;

}

.left-edge {
  border-left: 3px solid red;
}

.right-edge {
  border-right: 3px solid red;
}

.center {
  text-align: center;
}