.social-btn {
    position: relative;
    width: 78px;
    top: 15px;
    border: 1px solid #900;
    padding: 6px;
    color: white;
    font-size: 13px;
    margin: 30px 0 30px 0;
    background: #44accf;
    text-align: center;
}

